# Stock Market Clustering with K-Means

In [1]:
#import relevant packages
import pandas as pd
import numpy as np
import yfinance as yf
from sklearn.cluster import KMeans
from pandas_datareader import data as pdr
from datetime import datetime, timedelta
yf.pdr_override()

In [2]:
#Importing S&P 500 Tickers
sp500 = pd.read_csv('s&p500_tickers.csv')
del sp500['Unnamed: 0']

In [3]:
print(sp500['Tickers'])

0       MMM
1       AOS
2       ABT
3      ABBV
4      ABMD
       ...
498     YUM
499    ZBRA
500     ZBH
501    ZION
502     ZTS
Name: Tickers, Length: 503, dtype: object

In [4]:
today = datetime.today().strftime('%Y-%m-%d')

In [5]:
one_year = (datetime.today() - timedelta(days=365)).strftime('%Y-%m-%d')

In [6]:
start_date = one_year 
end_date = today

tickers = sp500['Tickers'][0]
test_df = yf.download(tickers, start = start_date, end = end_date)['Adj Close']
test_df.head()

[*********************100%***********************]  1 of 1 completed

Date
2021-09-20    173.800217
2021-09-21    171.768875
2021-09-22    173.135925
2021-09-23    174.762955
2021-09-24    174.291183
Name: Adj Close, dtype: float64

In [8]:
tickers = sp500['Tickers'][1]
test_df_1 = yf.download(tickers, start = start_date, end = end_date)['Adj Close']
test_df_1.head()

[*********************100%***********************]  1 of 1 completed

Date
2021-09-20    63.382729
2021-09-21    62.753616
2021-09-22    62.684811
2021-09-23    63.323746
2021-09-24    62.969868
Name: Adj Close, dtype: float64

In [11]:
sp500_data = pd.concat([test_df, test_df], axis=1, ignore_index=True)

In [14]:
cols = sp500['Tickers']

In [12]:
sp500_data

                     0           1
Date
2021-09-20  173.800217  173.800217
2021-09-21  171.768875  171.768875
2021-09-22  173.135925  173.135925
2021-09-23  174.762955  174.762955
2021-09-24  174.291183  174.291183
...                ...         ...
2022-09-12  124.250000  124.250000
2022-09-13  120.470001  120.470001
2022-09-14  117.529999  117.529999
2022-09-15  116.419998  116.419998
2022-09-16  116.610001  116.610001

[251 rows x 2 columns]